<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Elon Musk</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/about.css" />
  </head>
  <body>
    <h1>Elon Musk</h1>
    <h2>
        Elon Reeve Musk FRS is an entrepreneur and business man. He is the founder, 
        CEO, and Chief Engineer at SpaceX; early-stage investor, CEO, and Product Architect of Tesla, Inc..
    </h2>
    <img src="../views/images/Elon_Musk.jpg" alt="Elon Musk">
  </body>
</html>